body {
    background: rgb(255, 255, 255);
    font-family: verdana;
    max-width: 90rem;
    margin: auto;

}


#title, .subtitle, .post_title{
    color: rgba(41, 31, 26, 0.918);
    

}

#title {
    
    text-transform:lowercase;
    text-align: justify;
   
}
a {
    text-decoration:underline;
    color: rgb(8, 8, 238);
}

.post_title{
    color: rgba(8, 8, 8, 0.753);
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    margin: 0;
    margin-bottom: 1rem;
   
    
}

.post{
    background: rgb(214, 137, 65);
    padding: 10px;
    border: 3px solid rgb(224, 96, 21);
    margin: 15px;
    border-radius: 50px;
}
 .post_content {
     margin: 0%;
     margin-bottom: 1rem;
     text-transform: capitalize;
     text-align:center;
     

 }

 .post_image {
     border-radius: 40;
     width: 7rem;
 }

 .contacts_list {
     list-style-type:square;
     padding-left: 1rem;
 }

 .photo {
     border:1px solid #505050; 
     border-radius: 50rem;
     max-width: 300rem;
         
 } 

 #footer {
     display: flex;
 }


 .contacts_list img {
     right: 3rem;
     height: 3rem;
     
 }